*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


body{
   background-color: #F6F3EE;
    color: #292725;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#F6F3EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    position: relative;
    font-size: 25px;
    color: #292725;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
display: inline-block;
font-size: 25px;
color: #292725;
text-decoration: none;
font-weight: 500;
margin-left: 25px;
transition: .3s;
}

.navbar a:hover{
    color: #8FA9C2;
}

.home{
   position: relative;
   width: 100%;
   justify-content: space-between;
   height: 100vh;
   background-color:#F6F3EE ;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 70px 10% 0;
}

.home h1,
.home h3 {
    color: #292725;
}

.home p {
    color: #77716A;
}


.home-image {
    width: 40%;
    display: flex;
    justify-content: center;
}


.home-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #E8E1D5;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h1{
   font-size: 56px;
   font-weight: 700;
   margin: -3px 0;
}

.home-content p{
    font-size: 20px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #8FA9C2;
    border-radius: 50%;
    font-size: 20px;
    color: #8FA9C2;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #8FA9C2;
    color: white;
    box-shadow: 0 0 20px #8FA9C2;
    transition: 0.50s;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background-color:  #8FA9C2;
    border-radius: 40px;
    font-size: 16px;
    color: #292725;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.50s;
}

.btn-box:hover{
    box-shadow: 0 0 5px #7895B0;
    background-color: #7895B0;
    color: #FFFFFF;
}